<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <script src='index.js'></script>
  </head>

  <body>
    <div class='container'>
      <h1>4004 Simulator</h1>

      <div class='hardware'>
	      <div class='memory_col'>
	        <table class='memory_table' border='1'>
	          <tr>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>0</div></div>
	              <div id='cell_0' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>1</div></div>
	              <div id='cell_1' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>2</div></div>
	              <div id='cell_2' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>3</div></div>
	              <div id='cell_3' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	          </tr>
	          <tr>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>4</div></div>
	              <div id='cell_4' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>5</div></div>
	              <div id='cell_5' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>6</div></div>
	              <div id='cell_6' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>7</div></div>
	              <div id='cell_7' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	          </tr>
	          <tr>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>8</div></div>
	              <div id='cell_8' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>9</div></div>
	              <div id='cell_9' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>10</div></div>
	              <div id='cell_10' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>11</div></div>
	              <div id='cell_11' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	          </tr>
	          <tr>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>12</div></div>
	              <div id='cell_12' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>13</div></div>
	              <div id='cell_13' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>14</div></div>
	              <div id='cell_14' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	            <td class='cell memory_cell'>
	              <div class='cell_element memory_cell_number'><div class='cell_number_text'>15</div></div>
	              <div id='cell_15' class='cell_element cell_value memory_cell_value' contenteditable="true">0</div>
	            </td>
	          </tr>
	        </table>
	      </div>

	      <div class='register_col'>
	        <table class='memory_table' border='1'>
	          <tr>
	            <td class='cell register_cell'>
	              <div class='cell_element memory_cell_number'><div class='pc_number_text'>PC</div></div>
	              <div id='cell_pc' class='cell_element cell_value register_cell_value' contenteditable="true">0</div>
	            </td>
	          <tr>
	          <tr>
	            <td class='cell register_cell'>
	              <div class='cell_element memory_cell_number'><div class='register_number_text'>R0</div></div>
	              <div id='cell_r0' class='cell_element cell_value register_cell_value' contenteditable="true">0</div>
	            </td>
	          <tr>
	          <tr>
	            <td class='cell register_cell'>
	              <div class='cell_element memory_cell_number'><div class='register_number_text'>R1</div></div>
	              <div id='cell_r1' class='cell_element cell_value register_cell_value' contenteditable="true">0</div>
	            </td>
	          <tr>
	          <tr>
	            <td class='cell register_cell'>
	              <div id='cell_output_num' class='cell_element memory_cell_number'><div class='register_number_text'>Out</div></div>
	              <div id='cell_output' class='cell_element cell_value register_cell_value' contenteditable="true">0</div>
	            </td>
	          <tr>
	        </table>
	      </div>

	      <div class='memory_dump'>
	        <span><b>Program:</b></span>
	        <span id='memory_dump_field' contenteditable="true">0</span>
	      </div>
      
      	  <div class='buttons_row'>
	        <button id='step_button' class='processor_button'>Step</button>
	        <button id='run_button' class='processor_button'>Run</button>
	        <button id='stop_button' class='processor_button'>Stop</button>
	        <button id='reset_button' class='processor_button'>Reset</button>
	        <button id='clear_button' class='processor_button'>Clear</button>
          </div>
      
      <div class='instructions'>
        <h3>Instructions</h3>

        <ul class='instruction_list'>
          <li>0 &nbsp;- halt</li>
          <li>1 &nbsp;- increment R0</li>
          <li>2 &nbsp;- decrement R0</li>
          <li>3 &nbsp;- increment R1</li>
          <li>4 &nbsp;- decrement R1</li>
          <li>5 &nbsp;- R0 = R0 + R1</li>
          <li>6 &nbsp;- R0 = R0 - R1</li>
          <li>7 &nbsp;- R0 = NCV</li>
          <li>8 &nbsp;- R1 = NCV</li>
          <li>9 &nbsp;- print R0</li>
        </ul>

        NCV = next cell's value. i.e. the value of the cell after the one with the current command.
      </div>
      </div>
    </div>
  </body>
</html>
